<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>


  <main>
    <section class="section-detalle-busqueda flex-box-c">
      <h2>Resultado de Busqueda:</h2>

      <section class="section-playlist">

        <ol class="flex-box-c">
          <% for( let i = 0; i < listaPeliculas.length; i++ ) { %>
            <li class="li">
              <a href="/movies/id/<%= listaPeliculas[i].id %>"><%= listaPeliculas[i].title %> </a> 
            </li>
          <% } %>
        </ol>
      </section>
    </section>
  </main>


</body>
</html>