<header>
    <nav>
        <ul>
            <li><a href="/products/">Home</a></li>
            <li><a href="/products/brand/marca">Bucar por marca</a></li>
            <li><a href="/products/color/black">Buscar por color</a></li>
        </ul>
    </nav>
</header>

